*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.conteudo{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.imagem-lateral{
    width: 50vw;
    height: 100vh;
}

.imagem{
    width: 50vw;
    height: 100vh;
}

.formulario-login{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    margin-bottom: 20px;
}

.titulo h2{
    margin-bottom: 20px;
}

.form-grupo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-grupo input{
    margin: 5px 0;
    padding: 10px 6px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}

.form-grupo input::placeholder{
    font-size: 15px;
}

.btn-logar{
    display: flex;
    justify-content: center;
}

.btn-logar button{
    background-color: #93A9D1;
    border: 1px solid #93A9D1;
    border-radius: 10px;
    width: 240px;
    height: 35px;
    color: #fff;
    font-size: 15px;
}

.form-grupo label{
    margin-top: 20px;
}

.titulo-esquecer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}